/SCADA HMI/.idea
/SCADA HMI/__pycache__
/Simulator Postrojenja/SimulatorPostrojenja/bin/Debug
/SCADA HMI/__pycache__
/SCADA HMI/Test/__pycache__
/SCADA HMI/__pycache__
/SCADA HMI/Connection/__pycache__
/SCADA HMI/MachineLearning/__pycache__
/SCADA HMI/GUI/__pycache__
